-r requirements-minimal.txt

### extra for full pkg ###
coremltools>=5.0
scipy>=1.7.1
scikit-learn>=0.24.2
statsmodels>=0.12.2
tensorflow-macos>=2.5
tensorflow-metal
UISoup>=2.5.7
llvmlite>=0.36.0
pre-commit>=1.21.0
